@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CoolGuy-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/CoolGuy-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'eng-font';
    src:url('../../../font/FjallaOne-Regular.ttf')
}

body{
    width:100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1vw;
    font-family: 'Pretendard-Regular';
    background: black;
}


/* 메인메뉴 */
.menu-container{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    height:12.5vh;
    transition-property: height;
    transition-duration: 0.1s;
    z-index: 5;
}
.main-menu{
    width: fit-content;
    height: 100%;
    display: flex;
    box-sizing: border-box; padding: 2rem 6vw;  
    gap:20px;   align-items: center;
    position: absolute; right: 0;
    z-index: 7;
}
.manu-click-img{
    width: 48px;    height: 25.5px; 
    box-sizing: border-box; padding-left: 1rem; padding-right: 1rem;    padding-top: 0.5rem;    padding-bottom: 0.5rem;
    position: relative;
}
.manu-click-img > div{
    width: 31px;    height: 2.5px;    background: rgb(255, 102, 0);  position: absolute; left: 8px; transition: 0.4s;   box-shadow: 0 0 10px white;
}
.manu-click-img > div:nth-child(1){
    top: 4.5px;
}
.manu-click-img > div:nth-child(2){
    top:11.5px;
}
.manu-click-img > div:nth-child(3){
    top:18.5px;
}
.manu-click-btn{
    border: none;   font-family: inherit;   font-size: 2rem;    background: none;   color:rgb(255, 102, 0); text-shadow: 0 0 10px white;
}


/* menu-wrapper */
.menu-wrapper{
    position: absolute;    
    left: 0;    top: 0;
    width: 100vw;   height: 100vh;
    background: none;
    z-index: 5;
    display: none;
    transition: 0.1s;
    
}
.back_menu_box{
    width: 0;
    height: 100%;
    background: #e6e6e6;
    position: absolute;
    z-index: 5;
    transition: 0.1s;
    transform: translateX(-50%);
}

/* menu 루트박스 */
.root_menu_box{
    width: 40vw;
    height: 100vh;
    display: flex;  flex-direction: column; gap : 100px;    padding-top: 150px;
    box-sizing: border-box; justify-content:first baseline;    align-items: center;
    position: absolute; left: 50%;  transform: translateX(-50%);
    background: none; 
    z-index: 6; transition: 0.25s;
}
.menu_list{
    font-size: 4rem;
    color:  rgb(255, 102, 0);   text-align: center;
    width: fit-content; transition: 0.3s;   opacity: 0;
}

/* 마우스호버이벤트 */

#mouse-cursor{
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    z-index: 101;
    border-radius: 50%;
    display: none;
  }
  #inner-cursor{
    position: relative;
    width:80px;
    height:80px;
    z-index: 102;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    backdrop-filter: contrast(.2);  
    --cursor-scale : 1;
    transform: scale(var(--cursor-scale),var(--cursor-scale));
    transition: 150ms ease-in-out;
    color: #ffffff;
  }



/* 섹터1 */
.his-sector1{
    height:100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
}
.his-sector1__container{
    position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);    font-family:'eng-font';
}
.his-sector1__container > p{
    font-size: 6vw;
    text-align: center;
    margin: 0;
    line-height: 0;
    transform:translateY(80px);
    opacity: 0;
}
.his-sector1__container > p:nth-child(5){
    color:rgb(255, 102, 0);
}
/* sec1-display */
.his-sector1__display-logo{
    box-sizing: border-box; margin-top: 10vh; 
}
.his-sector1__display{
    box-sizing: border-box; padding: 2vw 4vw;     font-family:'eng-font';
}
.his-sector1__intro{
    position: relative;
    width: 69%;
    right: -25%;
    font-size: 1.2vw;
    font-family:'eng-font';
    display: flex;  justify-content: space-between;
}
.his-sector1__img{
    position: absolute;
    bottom: 0;
    right: 1vw;
    width: 50%;
    display: flex;
    box-sizing: border-box;
}
.his-sector1__img > div{
    flex: 1;
}
.his-sector1__img > div > p{
    margin:0;
}
.his-sector1__img > div > p:nth-child(1){
    margin-bottom: 2vh;
}

.his-sector1__subIntro{
    position: absolute;
    bottom: 2vh;
    box-sizing: border-box;
    padding-left: 4vw;
}
.his-sector1__mainImg{
    position: absolute;
    right: 6vw;
    bottom: 17%;
    width: 600px;
    height: 200px; 
    /* background: beige; */
}
.his-sector1__mainImg-filter{
    position: absolute;
    width: 600px;   height: 200px;
    background: url('../../../project-img/img/history/his-main.jpg') no-repeat 50% 50%;
    background-size: cover;
}
.his-sector1__mainImg-filter:nth-child(1){
    clip-path: polygon(0% 0, 0% 0, 0% 100%, 0% 100%);
}
.his-sector1__mainImg-filter:nth-child(2){
    clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%);
}
.his-sector1__mainImg-filter:nth-child(3){
    clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
}
.his-sector1__mainImg-filter:nth-child(4){
    clip-path: polygon(30% 0, 30% 0, 30% 100%, 30% 100%);
}
.his-sector1__mainImg-filter:nth-child(5){
    clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%);
}
.his-sector1__mainImg-filter:nth-child(6){
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
.his-sector1__mainImg-filter:nth-child(7){
    clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
}
.his-sector1__mainImg-filter:nth-child(8){
    clip-path: polygon(70% 0, 70% 0, 70% 100%, 70% 100%);
}
.his-sector1__mainImg-filter:nth-child(9){
    clip-path: polygon(80% 0, 80% 0, 80% 100%, 80% 100%);
}
.his-sector1__mainImg-filter:nth-child(10){
    clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%);
}



/* 섹터2 */
.sector2{
    position:relative;
    width:100%;
    height:100vh;
}
.sec2-box1{
    position: absolute;
    border : solid 1px white;
    width:25%;
    height:60%;
    top:16vh;
    left:7vw;
    z-index: 2;
    border-radius:10px ;
}
#sec2-img{
    width:90%;
    height:40%;
    left:1.25vw;
    top:2vh;
    object-fit: cover;
    position: relative;
    border-radius:10px ;
}
.sec2-box2,.sec2-box4,.sec2-box6{
    width:88%;
    height:50%;
    position:relative;
    top: 4vh;
    left:1.25vw;
}
.sec2-box2>span,.sec2-box4>span,.sec2-box6>span{    
    font-size: 1.8vw;
    color: white;
}
.sec2-box2>h2,.sec2-box4>h2,.sec2-box6>h2{
    font-size:2vw;
    color: white;
}
.sec2-box2>p,.sec2-box4>p,.sec2-box6>p{
    position: relative;
    top:-5vh;
    font-size:1.2vw;
    color: white;
    line-height: 3vw;
}

.sec2-box3{
    position: absolute;
    border : solid 1px white;
    width:25%;
    height:60%;
    top:16vh;
    left:37.5vw;
    z-index: 2;
    border-radius:10px ;
}
.sec2-box5{
    position: absolute;
    border : solid 1px white;
    width:25%;
    height:60%;
    top:16vh;
    right:7vw;
    z-index: 2;
    border-radius:10px ;
}
.sec2-logo{
    width: 100%;
    height:12vh;
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
}


/* 섹터3 */
.sector3{
    width:100%;
    height:150vh;
    position:relative;
}
.sec2-finalimg1{
    width:100%;
    height:15%;
    position: relative;
    top:-15vh;
    overflow: hidden;
}
.finalimg1{
    width:100vw;
    height: 30vh;
    position:relative;
    left:0;
    top:0;

    transition: 1s;
}
.sec2-finalimg2{
    width:100%;
    height:15%;
    position: absolute;
    top:0;
    overflow: hidden;
}
.finalimg2{
    width:100vw;
    height:30vh;
    position:relative;
    left:-50vw;
    top:-15vh;
    transition: 1s;
}
.sec2-finalimg3{
    width:100%;
    height:15%;
    position: absolute;
    top:0;
    overflow: hidden;
}
.finalimg3{
    width:100vw;
    height:30vh;
    position:relative;
    left:50vw;
    top:-15vh;
    transition: 1s;
}
.sec3-logo{
    width: 50vw;
    height:12vh;
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
    position: relative;
    left:100vw;
    transition:1s;
    opacity: 0;
}
.video-box:nth-child(1){
    border:none;
}
.video-box{
    box-sizing: border-box;
    padding: 1vw;
    width:28vw;
    height:50vh;
    border:solid 1px white;
    position: relative;
}
.video-wrapper{
    position:relative;
    left:5vw;
    gap:2.8vw;
    display: flex;
    width:90vw;
    flex-wrap: wrap;
}
.video-text{
    width:25.5vw;
    height:35%;
    position: absolute;
    bottom: 0;
    
}
.video-text-bottom{
    position: absolute;
    bottom: 2vh;
    display: flex;
    justify-content: space-between;
    width:25.5vw;
}
.innerText{
    display: inline-block;
    position: relative;
    top:1vw;
    opacity: 0;
    transition: 0.3s;
    font-family: 'SUIT-Regular';
    color:orange;
}
.innerVideo{
    width:25.5vw;
    height:60%;
  
}
.watch-text{
    overflow: hidden;
}
.video-text-bottom>div{
    font-family: 'CoolGuy-Medium'
}



