@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
    font-family: 'TTLaundryGothicB';

    background: black;
}
.photo-container{
    width:100vw;
    
}




/* 마우스호버이벤트 */

#mouse-cursor{
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    z-index: 101;
    border-radius: 50%;
    display: none;
  }
  #inner-cursor{
    position: relative;
    width:80px;
    height:80px;
    z-index: 102;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    backdrop-filter: contrast(.2);  
    --cursor-scale : 1;
    transform: scale(var(--cursor-scale),var(--cursor-scale));
    transition: 150ms ease-in-out;
    color: #ffffff;
  }



/* 사이드메뉴 */
html{
    scroll-behavior:smooth;
}
.side-bar{
    position: fixed;
    right: 10px;
    bottom : 2vh;
    width: 80px;
    height: 200px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    z-index: 98;
}
.side-box{
    width: 95%;
    height : 60px;
    line-height:60px;
    text-align: center;
    background: #363636;
    border-radius: 5px;
    z-index: 99;
    color: rgb(248, 222, 205);
}
.terms-description{
    position: fixed;
    right: 3.5vw;
    bottom: 20vh;
    width:0vw;
    height:0vh;
    background: white;
    z-index: 97;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
    opacity: 0;
    transition: 0.2s;
}

.lang,.creater{
    width:85%;
    height:40%;
    border:solid 1px black;
    border-radius: 15px;
    color: black;
    box-sizing: border-box;
    padding-left: 0.5vw;
}
.lang-title, .creater-title{
    text-align: center;
    margin-bottom: 0.9vh;
    font-weight: bold;
}
.lang-text,.creater-text{
    margin-bottom: 0.2vh;
}
.des-cancel{
    position: absolute;
    top:0;
    right: 0.4vw;
    color: black;
}
.des-cancel:hover{
    color: #8b8b8b;
    transition: 0.5s;
}

/* 메인메뉴 */

.main-menu{
    background: black;
    display: flex;
    width:100%;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0;
    height:6vh;
    transition-property: height;
    transition-duration: 0.1s;
    z-index: 98;
}
.nav{
    height:100%;
    position: relative;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 5vw;
    display: inline-block;
    height:6vh;
}
.menu{
    color: white;
    font-weight: bold;    
    text-decoration: none;
}
.log-in{
    position : relative;
    right : 6vw;
    margin-top: 1vw;
    font-weight: bold;  
}
.sub-menu{
    position: absolute;
    padding: .5rem 1rem;
    opacity: 1; 
    width:100vw;
    padding: 1rem;
    color:white;
    font-weight: bold;
    bottom: 0;
  }
.sub-menu>span:nth-child(1){
    margin-left:6.2vw;
    
}
.sub-menu>span{
    margin-right: 3vw;
}
.lines{
    color:white;
    position:absolute;
    top:2.5vw;
    opacity:0;
    transition: 0.2s;
    z-index: 2;
    width: 100vw;
}



.menu:hover{
    color: orange;
    transition: 0.3s;
}

#HISTORY:hover,#오시는길:hover,#마스코트:hover,#선수단:hover,#선수기록:hover{
    color: #32b2b2;
    transition: 0.3s;
}

/* 콘텐츠 섹션*/
.photo-container{
    width:100vw;
    height: 87.5vh;
    position:absolute;
    top:12.5vh;
    overflow: hidden;
    transition: 0.4s;
}
.contents-section{
    width:100vw;
    text-align: center;
    font-size: 1.5vw;
}
.img-section{
    width:100vw;
    height:30vh;
    transition: 0.3s;
}
.img-logo{
    width:100vw;
    height:5vh;
}
.contents-box{
    width:72vw;
    height:100%;
    top:0;
    left:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    overflow: hidden;

}
.act{
    position:absolute;
    
}
.contents-img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 0.3s;
    opacity: 1;
    z-index: 3;

}
.imgs-box{
    width: 23vw;
    height:41.75vh;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
}
.contents-img:hover{
    opacity: 0.6;
    animation-name: imghover;
    animation-duration:1s;
    animation-fill-mode: forwards;
}
@keyframes imghover{
   100%{transform: scale(1.1);}
}
.section-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
h2{transition: 0.3s;}
.view-btn{
    width:13vw;
    height:7.5vh;
    position: fixed;
    bottom: 2vh;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.5vw;
    animation-name: btn-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 15px;
    transition: 1s;
    line-height: 7.5vh;
    cursor: pointer;
    background: orange;
    z-index: 10;

}
.view-btn:hover{
    color:black;
    background: white;

}

@keyframes btn-ani{
    40%{bottom:2vh}
    60%{bottom:3vh;}
    80%{bottom:2vh;}
}

.more-btn{
    width:13vw;
    height:7.5vh;
    position:fixed;
    bottom: -5vh;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.5vw;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 15px;
    transition: 1s;
    line-height: 7.5vh;
    cursor: pointer;
    opacity: 0;
    background: orange;
    z-index: 10;
    backdrop-filter: blur(40px);
}
.more-btn:hover{
    color:orange;
    background: #32b2b2;
}
.exitBtn{
    width:13vw;
    height:7.5vh;
    position:fixed;
    bottom: 2vh;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.5vw;
    animation-name: btn-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 15px;
    transition: 1s;
    line-height: 7.5vh;
    cursor: pointer;
    display: none;
    background: orange;
    z-index: 10;   
}
.exitBtn:hover{
    color:orange;
    background: #32b2b2;
}
.overlay{
    width:40vw;
    height:60vh;
    position: fixed;
    left:50.5%;
    top:47.5%;
    transform: translate(-50%, -50%);
    background: linear-gradient(105deg, transparent 40%, 
    rgba(239, 217, 248, 0.8)45%, rgb(250, 225, 177) 50%, transparent 54%);
    background-size: 150% 150%;
    background-position: 90%;
    filter: brightness(1.2) opacity(0.4);
    mix-blend-mode: color-dodge;
    display:none;
    z-index: 99;
    opacity: 1;
}
